@use '../abstracts/variables' as *;

.button {
  min-width: 165px;
  color: $color-bg;
  font-size: 15px;
  line-height: 50px;
  letter-spacing: 0.5px;
  background-color: $color-main !important;

  &:hover {
    color: $color-main;
    background-color: $color-bg !important;
    border: 1px solid $color-main;
  }

  &.google-sign-in {
    color: $color-bg;
    background-color: $color-google !important;

    &:hover {
      background-color: $color-google-dark !important;
      border: none;
    }
  }
}
