.checkout-page {
  width: 55%;
  min-height: 90vh;

  .header {
    border-bottom: 1px solid #a9a9a9;

    &-block {
      width: 23%;

      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    font-size: 36px;
  }
}
