.collection {
  margin-bottom: 30px;

  &-item {
    width: 22%;
    height: 350px;

    .image {
      height: 95%;
      margin-bottom: 5px;
    }

    .footer {
      height: 5%;
      font-size: 18px;

      .name {
        width: 90%;
        margin-bottom: 15px;
      }

      .price {
        width: 10%;
      }
    }
  }

  .title {
    margin-bottom: 25px;
    font-size: 28px;
  }
}
