.directory-item {
  min-width: 30%;
  margin: 0 7.5px 15px;
  border: 1px solid #000;

  &.large {
    height: 380px;
  }

  .content {
    height: 90px;
    padding: 0 25px;
    border: 1px solid #000;

    .title {
      color: #4a4a4a;
      font-size: 22px;
    }

    .subtitle {
      font-size: 16px;
    }
  }
}
